@import url(./fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page{
    font-family: 'Lato', sans-serif;
}

.header{
    max-width: 1440px;
    min-height: 782px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../image/Rectangle3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.navbar{
    max-width: 1440px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px 0;
    padding-top: 17px;
}

.navbar__logo-container{
    display: flex;
    gap: 9px;
    max-width: 172px;
    min-height: 29px;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar__logo-container-img{
    max-width: 29px;
    max-height: 29px;
    object-fit: cover;
}

.navbar__logo-container-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    max-width: 136px;
}

.navbar__links-container{
    list-style: none;
    display: flex;
    max-width: 445px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar__link{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.navbar__login-container{
    display: flex;
    max-width: 216px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__login-lang{
    max-width: 80px;
    margin: 0 29px 0 10px;
}

.navbar__login-button{
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

.header__title{
    max-width: 600px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 140px;
    word-wrap: break-word;
}

.header__subtitle{
    display: flex;
    max-width: 500px;
    width: 100%;
    margin: 39px auto;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    min-height: 124px;
}

.header__button{
    display: block;
    max-width: 160px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ED4C5C;
    margin: 0 auto;
    text-align: center;
    padding: 16px 52px;
    background: #FFFFFF;
    border-radius: 6px;
    text-decoration: none;
}

.easy{
    max-width: 1440px;
    min-height: 500px;
    background: #FFFFFF;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 92px;
}

.easy__text-container{
    max-width: 445px;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between
}

.easy__title{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.easy__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
}

.easy__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
    text-decoration: none;
}

.easy__video-container{
    max-width: 478px;
    width: 100%;
    display: flex;
    align-items: center;
}

.easy__image{
    object-fit: cover;
    max-width: 445px;
    min-height: 311px;
    width: 100%;
    margin-left: auto;
}

.easy__play-button{
    display: block;
    background-image: url(../image/PlayButton.png);
    width: 66px;
    height: 66px;
    position: absolute;
}

.features{
    max-width: 1440px;
    min-height: 660px;
    background: #FAFAFA;
    margin: 0 auto;
}

.section-title{
    max-width: 1100px;
    width: 100%;
    min-height: 55px;
    text-align: center;
    margin: 0 auto;
    padding-top: 63px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.features__card-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px 0;
    margin-top: 63px;
}

.features__card{
    max-width: 350px;
    width: 100%;
    min-height: 355px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    
}

@media screen and (min-width:200px) and (max-width:1068px) {
    .features__card{
        margin: 0 auto;
        
    }

    .easy{
        padding: 50px 0;
    }

    .header__title{
        font-size: 45px;
    }
}

.feature__card-image{
    max-width: 350px;
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.features__card-text{
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 293px;
    min-height: 198px;
    padding: 33px 20px 22px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.features__card-title{
    max-width: 229px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.features__card-subtitle{
    max-width: 229px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

}

.features__card-link{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    text-decoration: none;
}

.technology{
    max-width: 1440px;
    min-height: 500px;
    background: #FFFFFF;
    margin: 0 auto;
}